<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="secret/明胶水晶.ico" type="image/x-icon">
    <title>Handsome Liu 生日快乐！</title>
    <script src="vue.js"></script>
    <link rel="stylesheet" type="text/css" href="./secret/不可以看哦/真的不可以哦/所以说打咩！/无尽蓝后解锁/primrose.css">
</head>

<body>
    <div id="app1">

        <img src="./secret/不可以看哦/真的不可以哦/所以说打咩！/sakura2.gif" @click="word2" class="sakura2" :style="{display:page3}">
        <img src="./secret/不可以看哦/百年疑惑.jpg" @click="word2" class="headlike" :style="{display:page3}">
        <button class="btn2" @click="advice()" :style="{display:page3}">advice</button>
        <p v-for="cur2 in countt" class="wd"
            :style="{display:page3,left:`${posx2[cur2]}px`,top:`${posy2[cur2]}px`,fontSize:`${fsize2[cur2]}px`,
            color: `hsl(${clor2[cur2]}, 80%, 50%)`,textShadow: `${tshadow3[cur2]}px ${tshadow3[cur2]}px ${tshadow4[cur2]}px violet` }" @click="word2">
            {{wish[cur2]}}</p>
        <img src="./secret/不可以看哦/真的不可以哦/happybirthday.jpg" @click="word2" class="reward" :style="{display:page4}">


        <img src="./secret/不可以看哦/真的不可以哦/所以说打咩！/sakura.gif" @click="word" class="sakura1" :style="{display:page2}">
        <img src="./secret/不可以看哦/百年疑惑.jpg" @click="word" class="headlike" :style="{display:page2}">
        <button class="btn2" @click="advice()" :style="{display:page2}">advice</button>
        <p v-for="cur in count" class="wd"
            :style="{display:page2,left:`${posx[cur]}px`,top:`${posy[cur]}px`,fontSize:`${fsize[cur]}px`,
            color: `hsl(${clor[cur]}, 80%, 50%)`,textShadow: `${tshadow[cur]}px ${tshadow[cur]}px ${tshadow2[cur]}px violet` }" @click="word">
            {{sent[cur]}}</p>

        <img :src="source1" @click="change1()" class="lefttop" :style="{display:page1}" />
        <img :src="source2" @click="change2()" class="righttop" :style="{display:page1}" />
        <img :src="source3" @click="change3()" class="leftbottom" :style="{display:page1}" />
        <img :src="source4" @click="change4()" class="rightbottom" :style="{display:page1}" />
        <button class="btn1" @click="checkif" :style="{display:page1}">click!</button>

    </div>
    <script src="./secret/不可以看哦/真的不可以哦/所以说打咩！/无尽蓝后解锁/桃花恶魔.js"></script>
    <script src="./secret/不可以看哦/真的不可以哦/所以说打咩！/无尽蓝后解锁/月陨天环.js"></script>
    <script src="./secret/不可以看哦/真的不可以哦/所以说打咩！/无尽蓝后解锁/焚灭天惩.js"></script>
    <script src="./secret/不可以看哦/真的不可以哦/所以说打咩！/无尽蓝后解锁/歌留凛凛.js"></script>
    <script src="./secret/不可以看哦/真的不可以哦/所以说打咩！/无尽蓝后解锁/蓝云午后.js"></script>
    <script src="./secret/不可以看哦/真的不可以哦/所以说打咩！/无尽蓝后解锁/无垠稻田.js"></script>
    <script src="./secret/不可以看哦/真的不可以哦/所以说打咩！/无尽蓝后解锁/共寝天明.js"></script>
    <script src="./secret/不可以看哦/真的不可以哦/所以说打咩！/无尽蓝后解锁/灿烂悲伤.js"></script>
    <script src="./secret/不可以看哦/真的不可以哦/所以说打咩！/无尽蓝后解锁/赛博恋爱.js"></script>
    <script src="./secret/不可以看哦/真的不可以哦/所以说打咩！/无尽蓝后解锁/渊秒一切.js"></script>
    <script src="./secret/不可以看哦/真的不可以哦/所以说打咩！/无尽蓝后解锁/天地不滅.js"></script>
    <script src="./secret/不可以看哦/真的不可以哦/所以说打咩！/无尽蓝后解锁/病名为爱.js"></script>
    <script src="./secret/不可以看哦/真的不可以哦/所以说打咩！/无尽蓝后解锁/金木磷叶.js"></script>
    <script src="./secret/不可以看哦/真的不可以哦/所以说打咩！/无尽蓝后解锁/娜娜蒂丝.js"></script>
    <script src="./secret/不可以看哦/真的不可以哦/所以说打咩！/无尽蓝后解锁/上升戈布.js"></script>
    <script src="./secret/不可以看哦/真的不可以哦/所以说打咩！/无尽蓝后解锁/可抵长夜.js"></script>
    <script src="./secret/不可以看哦/真的不可以哦/所以说打咩！/无尽蓝后解锁/绝对无穷.js"></script>
    <script src="./secret/不可以看哦/真的不可以哦/所以说打咩！/无尽蓝后解锁/爱的话语.js"></script>
</body>

</html>